/*EC2 | RDS | Drupal installation*/
header{
   overflow: hidden;
   position: fixed;
   top: 0;
   width: 100%;
   background-color: whitesmoke;
   padding: 0px 100px;
   border-bottom: 2px solid goldenrod;
}
.introduction{
   margin: 130px 80px 0px 80px;
   background-color: beige;
   padding: 20px 40px;
   border-radius: 20px;
}
body{
    background-color:whitesmoke;
    font-family:system-ui, 
                -apple-system, 
                BlinkMacSystemFont, 
                'Segoe UI', 
                Roboto, 
                Oxygen, 
                Ubuntu, 
                Cantarell, 
                'Open Sans', 
                'Helvetica Neue', 
                sans-serif;
 }
.container{
    padding-left: 75px;
    padding: 20px 100px 50px 100px;
}
a{
    color: rgb(53, 139, 252);
    text-decoration: none;
    transition: 5.0s;
    font-size: 12px;;
}
    a:hover{
        text-decoration: underline;
    }

 span.gold{
    color: goldenrod;
    font-size: 27px;
 }

 p{
    text-align: justify;
    font-size: 14px;
    font-style: italic;
 }

 li.section{
    border-top: 10px solid darkslategray;
    border-left: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
    border-radius: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    margin-left: 50px;
    font-size: 90px;
    color: goldenrod;
    h2{
        font-size: 27px;
        color: goldenrod;
    }
    h4{
        font-size: 14px;
        color:goldenrod;
    }
 }
 
 .abstract{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: beige;
    border-radius: 10px;
    border: 1px solid gainsboro;
    font-size: 14px;
    color: black;
    text-align: left;
 }

 .note{
    margin-bottom: 30px;
    padding: 20px;
    background-color: beige;
    border-radius: 10px;
    border: 1px solid gainsboro;
    font-size: 14px;
    color: black;
    text-align: left;
 }


 h1{
    font-size: 39px;
    color: darkslategray;
 }
 

 li.single-step{
    background-color: rgb(237, 235, 235);
    margin: 10px 0px 50px 0px;
    padding: 0px 4% 40px 4%;
    border: 1px solid gainsboro;
    text-align: center;
    list-style-type: lower-alpha;
    font-size: 40px;
    font-weight: bold;
    color: darkslategray;
    border-radius: 10px;

    .direction{
        font-size: 14px;
        text-align: left;
        font-weight: bold;
        color: darkslategray;
        font-style: italic;
        }
    
    .explanation{
        margin: 20px 0px 30px 0px;
        font-size: 24px;
        font-weight: bold;
        color: darkslategray;
    }

    .note{
        text-align: left;
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 20px;
        background-color: beige;
        border-radius: 10px;
        border: 1px solid gainsboro;
        font-size: 14px;
        color: black;
        font-weight: 400;
     }
 }

 .single-step-image{
    margin-top: 20px;
 }
 .single-step-image{ 
    img{
        width: 100%;
        border: 1px solid gainsboro;
        border-radius: 10px;
    }
    img:onclick{
        transform: scale(1.3);
    }
 }
 
 .code{
    background-color: aliceblue;
    padding: 1em;
    border: 1px solid gainsboro;
    border-radius: 10px;
    font-size: 14px;
    text-align: left;
 }

 span.red{
    font-weight: bold;
    color: red;
 }
 
 span.green{
    font-weight: bold;
    color: green;
 }